#app-main {

    ul {
        list-style: none;
    }
    
    li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: solid 1px black;
    }

    img {
        width: 100px;
        height: 100px;
    }
}